mixin inputThumb(props)
    div.ThumbsPositionController
        div.ThumbsPositionController__title
            div.ThumbPositionController__min
                div.min__title
                    span
                    input
                    span
