.view__ruler
  display: flex
  justify-content: space-between
  align-items: baseline
  width: 100%
  position: absolute
  top: 65px
  height: 10px

.rulerMarkBig
  font-size: 24px

.rulerMarkSmall
  font-size: 12px
